.Dictionary {
    border-radius: 16px;
    background: #edd2b6;
    padding: 20px;
    margin: 50px auto;
    width: 600px;
    align-items: center;
  }

  .input-search{
    width: 100%;
  }

 
  
  